# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Popular Data Science Languages
- Commonly Used Data Science Libraries
- Data Science Tools
- Arithmetic Expressions
- Lists in a Markdown Cell

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Julia</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>SciPy</li>
</ol>

|Data Science Tools|
|------------------|
|IBM Watson Studio|
|KNIME|
|Orange|

### Below are a few examples of evaluating arithmetic expresssions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Kalpita Chakraborty